@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap");

$klavika: "klavika-web", sans-serif;
$klavika-display: "klavika-web-display", sans-serif;
$montserrat: "Montserrat", sans-serif;
$orbital: "orbital", sans-serif;
.t-uppercase {
  text-transform: uppercase;
}

