.block-faq{
    @import '../variables/variables';
    @import '../components/media';
    @import '../components/colors';
    padding: 80px 0;
    @include media(xs){
        padding: 30px 0;
    }
    min-height: 50dvh;
    @include media(xs){
        min-height: 60dvh;
    }
    .search-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .search{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            input{
                border: 1px solid #DBDBDB;
                border-radius: 4px;
                height: 40px;
                padding: 0 1rem;
                width: 100%;
                color: $black-dark;
                outline: none;
                transition: $fast;
                font-size: 1rem;
                font-weight: 300;

                &::placeholder{
                    color: rgba(0, 0, 0, 0.50);
                }
                &:focus{
                  
                    border: 1px solid $black-dark;
                }
            }
            svg,i{
                position: absolute;
                right: 1rem;
                top: .8rem;
                color: $black-dark;
            }
            
            .search-remove{
                display: none;
                cursor: pointer;
                &.active{
                    display: block;
                }
            }

        }

        &.active{
            .search{
                .search-remove{
                    display: block;
                }
                .search-icon{
                    display: none;
                }
            }
        }
    }
    .tab{
        margin: 36px 0;
        @include media(xs){
            margin-top: 20px;
            margin-bottom: 15px;
        }
        button{
            outline: none;
            background: none;
            border: 0;
            text-transform: uppercase;
            font-size: 18px;
            color: $black-dark;
            padding-bottom: .5rem;
            cursor: pointer;
            background: linear-gradient(to right, transparent, transparent), linear-gradient(to right, $red, $red,$red,);
            background-size: 100% 2px, 0 2px;
            background-position: 100% 100%, 0 100%;
            background-repeat: no-repeat;
            transition: background-size 400ms;
            position: relative;
            z-index: 2;
            @include media(xs){
                font-size: 1rem;
            }
            &:not(:first-child){
                padding-left: 2rem;
                padding-right: 2rem;
            }
            &:hover{
                color: $red;
                background-size: 0 2px, 100% 2px;
            }
            &.active{
                color: $red;
                background-size: 0 2px, 100% 2px;
            }
        }
        // border-bottom: 1px solid #DBDBDB;
        position: relative;
        &::before{
            @include bg-presets();
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: #DBDBDB;
            z-index: 1;
        }
    }
    .faq-list{
        .faq{
            padding: 16px 0;
            border-bottom: 1px solid #DBDBDB;
            @include media(xs){
                padding: 10px 0;
            }
            .title{
                transition: background-color 0.3s ease; /* Transición para el color de fondo */
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: .5rem 0;
                cursor: pointer;
                h2{
                    margin-bottom: 0;
                    color: $black-dark;
                    font-size: 18px;
                    width: 100%;
                    padding-right: .5rem;
                    @include media(xs){
                        font-size: 1rem;
                    }
                }
                .chevron{
 
                    @include media(sm){
                        width: 30px;
                        height: 30px;
                    }
                    svg{
                        // transform: rotate(180deg);
                        @include media(sm){
                            width: 12px;
                        }
                        transition: $fast;
                    }
                }
            }
            .content{
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.35s ease; /* Transición para la altura máxima */
                p{
                    padding-top: .5rem;
                    color: $black-dark;
                    font-size: 18px;
                    @include media(xs){
                        font-size: 1rem;
                    }
                    &:not(:first-child){
                        padding-top: 1.2rem;
                    }
                }
                
            }
        }
        .hide{
            display: none;
        
        }
    }
    .resultsList{

        p{
            padding: 1.2rem 0;
            color: $black-dark;
            font-size: 18px;
            @include media(xs){
                padding-bottom: .5rem;
            }
        }
    }
}