.block-form{
    @import '../variables/variables';
    @import '../components/colors';
    @import '../components/media';
    @import '../components/fonts';
    padding: 80px 0;

    @include media(sm){
        padding: 50px 0;
    }
    @include media(xs){
        padding-top: 30px;
    }
    .row{
        
        @include media(sm){
        
            grid-gap: 0;
            // row-gap: 3rem;
        }
    }


    .button__container{
        @include media(sm){
            display: flex;
            justify-content: center;
        }
    }

    .form{
        max-width: 553px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .field-container{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .field-textarea{
            display: flex;
            flex-direction: column;
            textarea{
                resize: none;
                height: 150px;
            }
        }
        label{
            color: $black-dark;
            font-size: 18px;
            margin-bottom: 8px;
        }
        input,textarea{
            color: $black-dark;
            border: 1px solid #DBDBDB;
            border-radius: 4px;
            outline: none;
            padding: 1rem;
        }
        input{
            height: 48px;
       
        }
        .checkbox-container{
            display: block;
            position: relative;
            padding-left: 24px;
            cursor: pointer;
           
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            input{
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }
            .checkmark {
                position: absolute;
                top: 3px;
                left: 0;
                height: 18px;
                width: 18px;
                background-color: transparent;
                border-radius: 4px;
                border: 2px solid #DBDBDB;
                transform: $fast;
            }


            input:checked ~ .checkmark{
                border: 2px solid $red;
                background-color: $red;
            }
            .checkmark:after{
                content: "";
                position: absolute;
                display: none;
            }
            input:checked ~ .checkmark:after{
                display: block;
            }
            .checkmark:after{
                left: 5px;
                top: 1px;
                width: 4px;
                height: 8px;
                border: solid #fff;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
        .field-check{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            flex-wrap: wrap;
            column-gap: 30px;
            row-gap: 10px;
            label{
                font-size: 18px;
            }
            @include media(xs){
                grid-template-columns: repeat(1, 1fr);
            }
        }
        .required-error{
            color: $red;
            font-size: 14px;
        }
    }
    .field-container{
        .field-file{
            .field-file-button{
                cursor: pointer;
                label{
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    gap: 5px;
                    font-size: 14px !important;
                    cursor: pointer;
                    color: $black-dark;
                    border: 1px solid #DBDBDB;
                    border-radius: 4px;
                    outline: none;
                    padding: 1rem;
                    transition: $fast;
                    &:hover{
                        background-color: #f3f3f3;
                    }
                    span{
                        color: $black-dark;
                    }
                }
            }
        }
        .field-container-input{
            width: 100%;
            position: relative;
            input{
                width: 100%;
            }
            &__icon{
                position: absolute;
                right: 0;
                top: 5%;
                width: 40px;
                height: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                i{
                    color: $black-dark;
                }
                .fa-x{
                    display: none;
                }
            }
            .list-select{
               background: $white;
                position: absolute;
                top: 50px;
                width: 100%;
                z-index: 100;
                opacity: 0;
                visibility: hidden;
                transition: .12s all ease-in-out;
                max-height: 250px;
                overflow: hidden;
                overflow-y: scroll;
                border: 1px solid #dbdbdb;
                @include media(xs){
                    max-height: 120px;
                }
                ul{
                    list-style: none;
             
                    background: $white;
                    li{
                        p{
                            font-size: 14px;
                            padding: .5rem 1rem;
                            border-bottom: 1px solid #dbdbdb;
                            color: $black-dark;
                            transition: $fast;
                            cursor: pointer;
                            &:hover{
                                background: #dbdbdb5b;
                            }
                        }
                        &:last-child{
                            p{
                                border-bottom: none;
                            }
                        }
                    }
                }
                &.show{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

       
    }
    .button__container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
        button{
            min-width: 205px !important;
        }
    }


}

